@using MVC_Codes_I_Learned.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Products>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Product</h2>
<table class="table table-bordered">
    <tr>
        <th>PRODUCT ID</th>
        <th>PRODUCT NAME</th>
        <th>CATEGORY ID</th>
        <th>PRICE</th>
        <th>STOCK</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>
    <tbody>
        @foreach (var prdct in Model)
        {
            <tr>
                <td>@prdct.ProductID</td>
                <td>@prdct.ProductName</td>
                <td>@prdct.Categories.CategoryName.ToString()</td>
                <td>@prdct.UnitPrice</td>
                <td>@prdct.UnitsInStock</td>
                <td><a href="/Product/Delete/@prdct.ProductID" class="btn btn-danger"> DELETE </a></td>
                <td><a href="/Product/GetProduct/@prdct.ProductID" class="btn btn-success"> UPDATE </a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Product", new { page }))
<a href="/Product/NewProduct/" class="btn btn-primary">NEW PRODUCT</a>

