@model MVC_Codes_I_Learned.Models.Entity.Customers

@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>NewCustomer</h2>


@*Butona tıklandığı zaman arka tarafa post işlemi gerçekleşecek ve veriler taşınacak.*@
<form class="form-group" method="post">
    <div style="margin-top:15px;">
        <label>Customer Name</label>
        @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ContactName, "", new { @style = "color:green" })
    </div>

    <div style="margin-top:15px;">
        <label>Department</label>
        @Html.TextBoxFor(m => m.ContactTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ContactTitle, "", new { @style = "color:green" })
    </div>

    <div style="margin-top:15px;">
        <label>City</label>
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City, "", new { @style = "color:green" })
    </div>

    <div style="margin-top:15px;">
        <button class="btn btn-info"> Customer Add</button>
    </div>
</form>